.rock {
    height: 400px;
    width: 300px;
    background-image: url(../image/rock.jpg);
    margin-top: 10px;
    margin-right: auto;
    background-size:100% 75%;
    background-repeat: no-repeat;
}
.scissors {
    width: 300px;
    height: 400px;
    background-image: url(../image/scissors.jpeg);
    margin-top: 10px;
    margin-right: auto;
    background-size:100% 75%;
    background-repeat: no-repeat;
}
.palm {
    height: 400px;
    width: 300px;
    background-image: url(../image/palm.jpeg);
    margin-top: 10px;
    margin-right: auto;
    background-size:100% 75%;
    background-repeat: no-repeat;
}